
 <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Recipe Manager</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#"></a>
        </li>
      </ul>
    </nav>
  <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
               <li class="nav-item pl-2 pr-2">
                <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="chosenOption"  (change)='onGroupChange(chosenOption)'>
                  <option selected>Choose...</option>
                  <option  *ngFor="let list of selectlist" value={{list.id}}>{{list.name}}</option>
                 
                </select>
              </li>
             
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['addrecipe']">
                  <span data-feather="file"></span>
                  Add recipe
                </a>
              </li>
             
            </ul>
          
          </div>
        </nav>
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="align-items-center pb-2 mb-3 border-bottom">
          <router-outlet></router-outlet>
          </div>
          </main>
      </div>
  </div>

