<h2>{{selectlist?.name}}-Ingredient List</h2>
<table class="table">
 
  <tbody>
   
    <tr>
      <th scope="row">Ingredient 1:</th>
      <td>{{selectlist?.ingredient_1}}</td>
    
    </tr>
    <tr>
      <th scope="row">Ingredient 2</th>
      <td>{{selectlist?.ingredient_2}}</td>
    
    </tr>
     <tr>
      <th scope="row">Ingredient 3</th>
      <td>{{selectlist?.ingredient_3}}</td>
    
    </tr>
     <tr>
      <th scope="row">Ingredient 4</th>
      <td>{{selectlist?.ingredient_4}}</td>
  
    </tr>
  </tbody>
</table>